.fixed-bottom {
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 8%;
  }
  .custom-container {
    margin-left: 40px; /* İçeriği sağa hizalar */
  }
  .customexcel {
    position: fixed;
  top: 62%; /* Adjust as needed */
    right: 9%; /* Adjust as needed */

}
.fixedfilter{
  position: fixed;
}