<div class="container mt-4">
  <div class="row">
    <div class="col-md-2"> <!-- Filtreleme seçenekleri sütunu -->
      <div class="filter-container mb-2"> <!-- Küçültülmüş mb-4 -->
        <h3 class="mb-3 text-center">Filtreleme Seçenekleri</h3>
        <form (ngSubmit)="filterPerformances()" #filterForm="ngForm"> 
          <div class="form-group">
            <label for="memberId">Üye ID:</label>
            <input type="text" class="form-control" id="memberId" name="memberId" [(ngModel)]="filter.memberId">
          </div>
          <div class="form-group">
            <label for="startDate">Başlangıç Tarihi:</label>
            <input type="date" class="form-control" id="startDate" name="startDate" [(ngModel)]="filter.startDate">
          </div>
          <div class="form-group">
            <label for="endDate">Bitiş Tarihi:</label>
            <input type="date" class="form-control" id="endDate" name="endDate" [(ngModel)]="filter.endDate">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Filtrele</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-10"> <!-- Tablo sütunu -->
      <div class="performance-table-container">
        <h1 class="text-center mb-4">Performance Table</h1>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>AgentID</th>
                <th>Isim</th>
                <th>Soyisim</th>
                <th>Date Info</th>
                <th>Mesai Başlangıcı</th>
                <th>Mesai Bitişi</th>
                <th>Mola</th>
                <th>Mazeret</th>
                <th>Mazeret Süresi</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let performance of filteredPerformances">
                <td>{{ performance.agentId }}</td>
                <td>{{ performance.firstName }}</td>
                <td>{{ performance.surname }}</td>
                <td>{{ performance.dateInfo }}</td>
                <td>{{ performance.begin }}</td>
                <td>{{ performance.end }}</td>
                <td>{{ performance.timeout }}</td>
                <td>{{ performance.excuse }}</td>
                <td>{{ performance.execuseHours }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
