.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
    border-bottom: 4px solid navy; /* Header altına 4 piksel kalınlığında bir çizgi ekler */
  }